name: Continuous Benchmark

on: [push, pull_request]

jobs:
  benchmark:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '10.0.x'

      - name: Install dependencies
        run: dotnet restore

      - name: Run benchmarks
        run: dotnet run --configuration Release --project Fnv1aBenchmarks/Fnv1aBenchmarks.csproj

      - name: Publish Results
        run: |
          mkdir -p output
          cp -r Fnv1aBenchmarks/bin/Release/net10.0/results output/
          git config --global user.name "jslicer"
          git config --global user.email "jcslicer@gmail.com"
          git checkout --orphan gh-pages
          git add output
          git commit -m "Update benchmark results"
          git push --force "https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/jslicer/FNV-1A.git" gh-pages
